body{
  background: url("https://images.pexels.com/photos/34950/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940") no-repeat ;
      background-size: 1537px;
    margin-bottom: 80px;
}

img {
    vertical-align: middle;
    border-style: none;
    width: 45%;
    margin-right: -383px;
     margin-top: -11px;
    margin-bottom: -8px;
}

.motto{
    color: white;
    font-size: 82px;
    width: 414px;
      margin-left: 550px;
    margin-top: 77px;
}

.move {
    text-align: center;
}

a.nav-link {
    font-size: 17px;
    margin-left: 51px;
    font-family: sans-serif;
}

button{
    width: 214px;
    background-color: white;
    padding: 12px;
    font-family: sans-serif;
    font-weight: 700;
      border-radius: 39PX;
    border-style: none;
   
}

.callto{
   border-radius: 40px;
}