21

.motto {
  color: white;
  font-size: 82px;
  text-align: center;
  padding: 5px;
  text-shadow: black -9px 5px 8px;
}

.callto {
  width: 214px;
  background-color: white;
  font-family: sans-serif;
  font-weight: 700;
  border-style: none;
  border-radius: 40px;
  padding: 19px;
  color: black;
}

.callto:hover {
  color: black;
  text-decoration: underline;
}

.nextpage {
  text-align: center;
  margin-top: 60px;
}

.move {
  margin-top: 100px;
  margin-bottom: 100px;
}

.nav-link {
  margin-top: 10px;
  font-size: 18px;
}

#recycleman {
  width: 23%;
  margin-top: 75px;

  margin-bottom: 30px;
}

.words {
  font-family: sans-serif;
  color: white;
  text-align: center;
  padding-left: 275px;
  padding-right: 188px;
  font-size: 26px;
  padding-top: 30px;
  padding-bottom: 20px;
  font-weight: 700;
  line-height: 35px;
  text-shadow: 2px 2px 4px #000000;
}

.logoo {
  vertical-align: middle;
  border-style: none;
  width: 45%;
  margin-right: -383px;
  margin-top: -11px;
  margin-bottom: -8px;
}

.signup {
  border: 0.1px solid;
  padding: 17px;
  background-color: white;
  border-radius: 20px;
  color: black;
  font-weight: 650;
}

#centerall {
  text-align: center;
}

.signup:hover {
  color: black;
  text-decoration: underline;
}

.down {
  margin-bottom: 20px;
}

.sign {
  color: white;
  font-family: sans-serif;
  text-align: center;
  margin-top: 120px;
  font-size: 60px;
  font-weight: 700;
}

.signform {
  padding-top: 33px;
  padding-left: 250px;
  padding-right: 200px;
  color: white;
}

#emailstuff {
  margin-left: -12px;
  width: 210%;
}

#emailstuff2 {
  margin-left: -12px;
  width: 210%;
}

button.btn.btn-primary {
  border: 0.1px;
  background-color: white;
  color: black;
  padding: 14px;
  width: 100px;
  border-radius: 30px;
  margin-left: 0px;
  margin-bottom: 30px;
}

@media only screen and (max-width: 600px) {
  body {
    background-size: 1537px;
    background-repeat: repeat-y;
  }

  .navbar {
    width: 353px;
  }

  .motto {
    font-size: 60px;
    margin-left: 20px;
  }

  .words {
    padding-left: 44px;
    padding-right: 0px;
    font-size: 22.5px;
    margin-top: -25px;
  }

  .signup {
    margin-left: 0px;
  }

  #recycleman {
    margin-left: 0px;
    width: 50%;
    margin-top: 30px;
    margin-bottom: 20px;
  }

  .signform {
    padding-top: 33px;
    padding-left: 80px;
    padding-right: 52px;
    color: white;
    margin-left: 22px;
    margin-top: -40px;
  }

  #emailstuff {
    margin-left: -15px;
    width: 121.5%;
    margin-bottom: -11px;
  }

  #emailstuff2 {
    margin-left: -12px;
    width: 121.5%;
    margin-bottom: -11px;
  }

  #inputZip {
    display: none;
  }

  #gridCheck {
    display: none;
  }

  .sign {
    color: white;
    font-family: sans-serif;
    text-align: center;
    margin-top: 80px;
    font-size: 50px;
    font-weight: 700;
    margin-left: 50px;
  }

  button.btn.btn-primary {
    border: 0.1px;
    background-color: white;
    color: black;
    padding: 10px;
    width: 100px;
    border-radius: 30px;
    margin-left: 0px;
    margin-bottom: 30px;
    margin-top: -10px;
    margin-left: -4px;
  }

  label.form-check-label {
    display: none;
  }

  .form-group.col-md-2 {
    display: none;
  }
}
